<h2><%= @question.content %></h2>
<span>created <%= @question.age %> ago by</span>
<a href="/users/<%= @question.user_id %>"><%= @question.display_name %></a><br>
<a href="/questions/<%= @question.id %>/comments/new">comment</a>

<form action="/questions/<%= @question.id %>/edit" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="content" value="<%= @question.content %>">
  <input type="submit" value="edit">
</form>

<form action="/questions/<%= @question.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<h4>comments:</h4>
<% if @question.comments %>
  <ul>
    <% @question.comments.each do |comment| %>
      <li><%= comment.content %></li>
      <span>created <%= comment.age %> ago by</span>
      <a href="/users/<%= comment.user_id %>"><%= comment.display_name %></a><br>
    <% end %>
  </ul>
<% end %>

<% if @answers %>
<h4>answers:</h4>
  <% @answers.each do |answer| %>
    <blockquote id="answer">

      <%= vote_count(answer) %>

      <form action="/answers/<%= answer.id %>/votes" method="post">
        <input type="submit" name="upvote" class="upvote" value="upvote">
        <input type="hidden" name="cast_vote" value="1">
        <input type="hidden" name="votable_type" value="Answer">
      </form>

      <%= answer.content %><br>
      <span>created <%= answer.age %> ago by</span>
      <a href="/users/<%= answer.user_id %>"><%= answer.display_name %></a><br>

      <form action="/answers/<%= answer.id %>/votes" method="post">
        <input type="submit" name="downvote" class="downvote" value="downvote">
        <input type="hidden" name="cast_vote" value="-1">
        <input type="hidden" name="votable_type" value="Answer">
      </form>

      <a href="/answers/<%= answer.id %>/comments/new">comment</a>
      <% if answer.comments %>
      <h4>comments:</h4>
        <ul>
          <% answer.comments.each do |comment| %>
            <li><%= comment.content %></li>
            <span>created <%= comment.age %> ago by</span>
            <a href="/users/<%= comment.user_id %>"><%= comment.display_name %></a><br>
          <% end %>
        </ul>
      <% end %>
    </blockquote>
  <% end %>
<% end %>

<h3>Answer:</h3>
<form action="/answers" method="post">
  <textarea name="answer"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
