<div class="container">

  <a href="/questions/new">Ask a question!</a>

  <ul>
    <% @questions.each do |question| %>
      <p class="votes">Votes: <%= vote_count(question) %></p>
      <li class="questions">
        <a href="/questions/<%= question.id %>"><%= question.content %></a>
        <br>
        <span class="created">created <%= question.age %> ago<br>by</span>
        <a class="question-name" href="/users/<%= question.user_id %>"><%= question.display_name %></a>
      </li>
    <% end %>
  </ul>
</div>
