<div class="container">
  <h2>Questions</h2>

  <ul>
    <!-- ###don't access database from view -->
    <% @questions.each do |question| %>
      <li>
        <form action="/vote" method="post">
          <input type="submit" name="upvote" class="upvote">
          <input type="hidden" name="cast_vote" value="1">
        </form>
        <form action="/vote" method="post">
          <input type="submit" name="downvote" class="downvote">
          <input type="hidden" name="cast_vote" value="-1">
        </form>
        <a href="/questions/<%= question.id %>"><%= question.content %></a>
        <span>created<%= question.age %>ago</span>
        <a href="/users/<%= question.user_id %>"><%= question.display_name %></a>

      </li>
    <% end %>
  </ul>

  <p><a href="/">Home</a></p>
</div>
