<div class="container">
  <h2>Questions</h2>

  <ul>
    <!-- ###don't access database from view -->
    <!-- @questions.reverse -->
    <% @questions.each do |question| %>
      <p>Votes: <%= vote_count(question) %></p>
      <li>
        <a href="/questions/<%= question.id %>"><%= question.content %></a>
        <span>created <%= question.age %> ago by</span>
        <a href="/users/<%= question.user_id %>"><%= question.display_name %></a>
      </li>
    <% end %>
  </ul>
</div>
